<div class="container">
    <div class="form-header-container">
        <label class="form-header">Enter Information: </label>
    </div>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input [(ngModel)]="model.name" placeholder="name" type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="color">Favorite Color</label>
            <input [(ngModel)]="model.color" placeholder="color" type="color" class="form-control" id="color" name="color" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input [(ngModel)]="model.password" placeholder="" type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-success" (click)="onClick()">SUBMIT</button>
    </form>
</div>